body{ 
     text-align: center;
     margin: 0;
    }

h3{
   text-align: center;
   color: #468f8f;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   font-size: 2rem;
  }

h4{
   padding: 0 0 0 0;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5rem;
   color: #66bfbf;
   margin: 0 auto 30px auto;
  }

hr{
   border: none;
   border-top: 5px dotted #cccccc;
   width: 5%;
   margin: 50px auto;
  }

p{
   padding: 10px 0 0 0;
   margin: 0;
   line-height: 1.5; 
   color: #338f8f;
   font-family: 'Source Sans Pro', sans-serif;               
  }   

.bottom-container{
                  margin: 100px 0 0 0;
                  padding: 10px 0 10px;
                  background-color: #66bfbf;
                  text-align: center;
                 }
.btn {
      background-image: -webkit-linear-gradient(top, #11cdd4, #22dee5);
      background-image: -moz-linear-gradient(top, #11cdd4, #22dee5);
      background-image: -ms-linear-gradient(top, #11cdd4, #22dee5);
      background-image: -o-linear-gradient(top, #11cdd4, #22dee5);
      background-image: linear-gradient(to bottom, #11cdd4, #22dee5);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      background: #11cdd4;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      transition: all 0.2s;
}

.btn:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #22dee5);
  background-image: -moz-linear-gradient(top, #11cdd4, #22dee5);
  background-image: -ms-linear-gradient(top, #11cdd4, #22dee5);
  background-image: -o-linear-gradient(top, #11cdd4, #22dee5);
  background-image: linear-gradient(to bottom, #11cdd4, #22dee5);
  text-decoration: none;
           }

.copy-right{
            margin: 0;
            text-align: center;
            color: #eaf6f6;
            font-family: 'Roboto', sans-serif;
            font-size: 0.75rem;
            padding: 20px 0;
           }

.header{
        position: sticky;
        top: 0;
        margin: 0 0 0 0;
        padding: 10px;
        background-color: #66bfbf;
        text-align: center;
       }

.header-link{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
  margin: 10px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #66bfbf;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all 0.5s;
}

.header-link:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #11999e;
  text-decoration: none;
}

.contact-message{
                 width: 40%;
                 margin: 40px auto 60px;
                }

.container{
           text-align: center;
           margin: 100px 0;
          }

.social-link{
             filter: drop-shadow(0 0 0 #cccccc);
             margin: 0 5px;
             width: 3%;
             transition: filter 0.2s;
            }

.social-link:hover{
                   filter: drop-shadow(0 3px 3px #aaaaaa);
                  }
