a{
  color: #11999e;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
       }

a:hover{
        color: #eaf6f6;
       }

body{
      color: #40514e;
      margin: 0;
      text-align: left; 
     }



h1{
     font-family: 'Birthstone', cursive;
     color: #11999e;
     margin: 0 auto 0 auto;
     padding-top: 20px;
     font-size: 5.625rem;
   }



h2{
   color: #468f8f;
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
   padding-bottom: 10px;
  }

h3{
   color: #66bfbf;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 2.5rem;
   margin: 0 auto 0 auto;
  }

h4{
   color: #66bfbf;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5rem;
   margin: 0 auto 0 auto;
  }

hr{
   border: none;
   border-top: 5px dotted #cccccc;
   margin: 100px auto;
   width: 5%;
  }


p{
  line-height: 1.5;   
 }

.bottom-cloud{
              bottom: 300px;
              left: 200px;
              position: absolute;              
             }

.bottom-container{
                  margin: 0;
                  padding: 10px 0 10px;
                  background-color: #66bfbf;
                  text-align: center;
                 }

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}

.code-img{
          margin: 0 30px 0 0;
          width: 25%;
          float: left; 
         }

.comp{
      width: 250px;
      margin: 10px auto 0 auto;
     }

.greeting-paragraph{
    margin: auto;
    width: 30%;
    line-height: 1.5; 
    color: #338f8f;
    font-family: 'Source Sans Pro', sans-serif;
  }

.top{
     text-align: center;
     position: relative;
     background-color: #CCF2F4;
    }



.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}

.skill-row{
           margin: 50px auto 50px auto;
           width: 50%;
           text-align: left;
          }
.profile-img{
             margin: 50px 0 0 0;
             width: 10%;
            }


.game-img{
          margin: 0 30px 0 0;
          width: 25%;
          float: left;
         }

.copy-right{
            margin: 0;
            text-align: center;
            color: #eaf6f6;
            font-family: 'Roboto', sans-serif;
            font-size: 0.75rem;
            padding: 20px 0;
           }

.middle-container{
                  text-align: center;
                  margin: 100px 0;
                 }
.contact-message{
                 width: 40%;
                 margin: 40px auto 60px;
                }

.header{
        text-align: center;
        position: sticky;
        top: 0;
        margin: 0 0 0 0;
        padding: 10px;
        background-color: #66bfbf;
       }

.header-link{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #66bfbf;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all 0.5s;
}

.header-link:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #11999e;
  text-decoration: none;
}

.top{
     margin: 0;
     padding: 0 0 45px 0;
    }

.profession{
   font-family: 'Dancing Script', cursive;
   font-size: 2.5rem;
   margin: 0 auto 0 auto;
   color: #468f8f;
   font-weight: normal;
  }
