body{ 
     text-align: center;
     margin: 0;
    }

h3{
   text-align: center;
   color: #468f8f;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   font-size: 2rem;
  }

hr{
   border: none;
   border-top: 5px dotted #cccccc;
   width: 5%;
   margin: 50px auto;
  }

p{
   padding: 10px 0 0 0;
   margin: 0;
   line-height: 1.5; 
   color: #338f8f;
   font-family: 'Source Sans Pro', sans-serif;               
  }   

.bottom-container{
                  margin: 100px 0 0 0;
                  padding: 10px 0 10px;
                  background-color: #66bfbf;
                  text-align: center;
                 }

.box-img{
         width: 25%;
        }

.copy-right{
            margin: 0;
            text-align: center;
            color: #eaf6f6;
            font-family: 'Roboto', sans-serif;
            font-size: 0.75rem;
            padding: 20px 0;
           }

.header{
        position: sticky;
        top: 0;
        margin: 0 0 0 0;
        padding: 10px;
        background-color: #66bfbf;
        text-align: center;
       }

.header-link{
  margin: 10px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #66bfbf;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.header-link:hover {
  background: #11999e;
  text-decoration: none;
}

.middle-container{
                  margin: 100px 0;
                 }
.project-row{
           width: 50%;
           margin: 0 auto 0 auto;
           padding: 0;
           text-align: center;
          }